{% extends 'base.html.twig' %}

{% block title %}
  Tableau de bord
{% endblock %}
{% block widget_droite %}
   
{% endblock %}
{% block body %}


  <!-- Content Rodcdcdcdw -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Achat effectuer</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% if achats > 0 %}
                                        {{ achats }}
                                    {% else %}
                                        <p>Aucune achat </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Vente effectuer</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% if ventes > 0 %}
                                        {{ ventes }}
                                    {% else %}
                                        <p>Aucune vente </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Produits
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            {% if produits > 0 %}
                                                {{ produits }}
                                            {% else %}
                                                <p>Aucun produit </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT')%}
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Total Achat</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalDesAchats|number_format(2, ',', ' ') }} Ar</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Nombre client</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    6
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Nombre Fournisseur</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    3
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-truck fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-dark  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-dark text-secondary text-uppercase mb-1">Nombre Utilisateur
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT')%}

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary  h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Total Vente</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalDesVentes|number_format(2, ',', ' ') }} Ar</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}    
        </div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT')%}

<!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card  mb-4">
            <div class="card border-left-primary  h-100 py-2">
                {% include '_charts/_statistics.sell.buy.html.twig' %}
            </div> 
        </div>
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card  mb-4">
            <div class="card border-left-primary  h-100 py-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase m-2">
                                        Statistique Achat & Vente</div>
                    <div class="card-body ">
                        <div class=" d-flex">
                            <label class=" font-weight-bold text-success text-uppercase mx-3"><strong>Achat : </strong></label><h5 id="totalPurchases"></h5>
                        </div>
                        
                        <div class=" d-flex">
                            <label class=" font-weight-bold text-danger text-uppercase mx-3"><strong>Vente : </strong></label><h5 id="totalSales"></h5>
                        </div>
                    </div>
                {% include '_charts/_commande.html.twig' %}
                </div>

            </div>
            </div>
        </div>            
        {% endif %}
{% endblock %}
