{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block login %}

{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">
<div class="card shadow-lg border-0 w-75">
<div class="card-body p-5">
<div class="text-center mb-4">
<img src="{{ asset('imgauth/logo.png') }}" alt="Mon image" class="mb-4" style="max-width: 100px;">
<h1 class="h4 text-gray-900 mb-2">Réinitialisation du mot de passe</h1>
</div>
{{ form_start(resetForm) }}
                        <div class="mb-3">
                            {{ form_row(resetForm.plainPassword) }}
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Réinitialiser</button>
                        </div>
                    {{ form_end(resetForm) }}
</div>
</div>
</div>
{% endblock %}
